<div class="banner" th:fragment="banner">
  <div>
    <h1>Hoài Thủy Trúc Đình</h1>
    <div>
      <span>Free</span>
      <span>High Popular</span>
      <span>Top1</span>
    </div>
    <div>
      <span><i class="fa-solid fa-star" style="color: #fdca31"></i>9.3</span>
      <span>2012</span> <span>T18</span>
      <span>30 Tập</span>
    </div>

    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum ratione
      quas porro obcaecati quae blanditiis omnis iusto deleniti tenetur.
      Dignissimos magni exercitationem quidem autem perferendis unde expedita
      cumque, molestiae facilis.
    </p>
    <div class="option">
      <a href="">
        <i class="fa-solid fa-play"></i>
      </a>
      <a href="">
        <i class="fa-regular fa-bookmark"></i>
      </a>
    </div>
  </div>
  <div class="gradient-bg"></div>

  <div class="film-hot">
    <h2>Đề xuất hot</h2>
    <div>
      <div class="left">
        <a href=""><i class="fa-solid fa-chevron-left"></i></a>
      </div>
      <section class="film-hot-item">
        <a href="#">
          <span class="top1">Top1</span>
          <img
            th:src="@{/images/harper-bazaar-phim-ma-kinh-di-thai-lan-5-e1679931106586.jpg}"
            alt="Poster SKY FALL"
          />
          <div class="gradient-film"><span>Trọn bộ 30 tập</span></div>
        </a>
        <a href="#">SKY FALL</a>
        <a class="movie-card" href="">
          <span class="top1">Top1</span>
          <img th:src="@{/images/download.jpg}" alt="" />
          <h3>Sky Fall</h3>
          <p>
            <span>
              <i class="fa-solid fa-star" style="color: #fdca31"></i> 9.3 | Hàn
              Quốc | 2013
            </span>
          </p>
          <p><span>Thể loại: </span>Hành động, Kinh dị</p>
          <p><span>Mô tả: </span>Điệp viên bí ẩn với nhiệm vụ cuối cùng...</p>
          <span>Xem Thêm <i class="fa-solid fa-angle-right"></i></span>
        </a>
      </section>

      <section class="film-hot-item">
        <a href="">
          <span class="top1">Top1</span>
          <img
            th:src="@{/images/harper-bazaar-phim-ma-kinh-di-thai-lan-5-e1679931106586.jpg}"
            alt=""
          />
          <div class="gradient-film"><span>Trọn bộ 30 tập</span></div>
        </a>
        <a href=""> SKY FALL</a>
        <a class="movie-card">
          <span class="top1">Top1</span>
          <img th:src="@{/images/download.jpg}" alt="" />
          <h3>Sky Fall</h3>
          <p>
            <span>
              <i class="fa-solid fa-star" style="color: #fdca31"></i> 9.3 | Hàn
              Quốc | 2013
            </span>
          </p>
          <p><span>Thể loại: </span>Hành động, Kinh dị</p>
          <p><span>Mô tả: </span>Điệp viên bí ẩn với nhiệm vụ cuối cùng...</p>
          <span>Xem Thêm <i class="fa-solid fa-angle-right"></i></span>
        </a>
      </section>
      <section class="film-hot-item">
        <a href="">
          <span class="top1">Top1</span>
          <img
            th:src="@{/images/harper-bazaar-phim-ma-kinh-di-thai-lan-5-e1679931106586.jpg}"
            alt=""
          />
          <div class="gradient-film"><span>Trọn bộ 30 tập</span></div>
        </a>
        <a href=""> SKY FALL</a>
        <a class="movie-card">
          <span class="top1">Top1</span>
          <img th:src="@{/images/download.jpg}" alt="" />
          <h3>Sky Fall</h3>
          <p>
            <span>
              <i class="fa-solid fa-star" style="color: #fdca31"></i> 9.3 | Hàn
              Quốc | 2013
            </span>
          </p>
          <p><span>Thể loại: </span>Hành động, Kinh dị</p>
          <p><span>Mô tả: </span>Điệp viên bí ẩn với nhiệm vụ cuối cùng...</p>
          <span>Xem Thêm <i class="fa-solid fa-angle-right"></i></span>
        </a>
      </section>
      <section class="film-hot-item">
        <a href="">
          <span class="top1">Top1</span>
          <img
            th:src="@{/images/harper-bazaar-phim-ma-kinh-di-thai-lan-5-e1679931106586.jpg}"
            alt=""
          />
          <div class="gradient-film"><span>Trọn bộ 30 tập</span></div>
        </a>
        <a href=""> SKY FALL</a>
        <a class="movie-card">
          <span class="top1">Top1</span>
          <img th:src="@{/images/download.jpg}" alt="" />
          <h3>Sky Fall</h3>
          <p>
            <span>
              <i class="fa-solid fa-star" style="color: #fdca31"></i> 9.3 | Hàn
              Quốc | 2013
            </span>
          </p>
          <p><span>Thể loại: </span>Hành động, Kinh dị</p>
          <p><span>Mô tả: </span>Điệp viên bí ẩn với nhiệm vụ cuối cùng...</p>
          <span>Xem Thêm <i class="fa-solid fa-angle-right"></i></span>
        </a>
      </section>
      <section class="film-hot-item">
        <a href="">
          <span class="top1">Top1</span>
          <img
            th:src="@{/images/harper-bazaar-phim-ma-kinh-di-thai-lan-5-e1679931106586.jpg}"
            alt=""
          />
          <div class="gradient-film"><span>Trọn bộ 30 tập</span></div>
        </a>
        <a href=""> SKY FALL</a>
        <a class="movie-card">
          <span class="top1">Top1</span>
          <img th:src="@{/images/download.jpg}" alt="" />
          <h3>Sky Fall</h3>
          <p>
            <span>
              <i class="fa-solid fa-star" style="color: #fdca31"></i> 9.3 | Hàn
              Quốc | 2013
            </span>
          </p>
          <p><span>Thể loại: </span>Hành động, Kinh dị</p>
          <p><span>Mô tả: </span>Điệp viên bí ẩn với nhiệm vụ cuối cùng...</p>
          <span>Xem Thêm <i class="fa-solid fa-angle-right"></i></span>
        </a>
      </section>
      <section class="film-hot-item">
        <a href="">
          <span class="top1">Top1</span>
          <img
            th:src="@{/images/harper-bazaar-phim-ma-kinh-di-thai-lan-5-e1679931106586.jpg}"
            alt=""
          />
          <div class="gradient-film"><span>Trọn bộ 30 tập</span></div>
        </a>
        <a href=""> SKY FALL</a>
        <a class="movie-card">
          <span class="top1">Top1</span>
          <img th:src="@{/images/download.jpg}" alt="" />
          <h3>Sky Fall</h3>
          <p>
            <span>
              <i class="fa-solid fa-star" style="color: #fdca31"></i> 9.3 | Hàn
              Quốc | 2013
            </span>
          </p>
          <p><span>Thể loại: </span>Hành động, Kinh dị</p>
          <p><span>Mô tả: </span>Điệp viên bí ẩn với nhiệm vụ cuối cùng...</p>
          <span>Xem Thêm <i class="fa-solid fa-angle-right"></i></span>
        </a>
      </section>
      <div class="right">
        <a href=""><i class="fa-solid fa-chevron-right"></i></a>
      </div>
    </div>
  </div>
</div>
