<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/body.css}" />
    <link rel="stylesheet" th:href="@{/css/footer.css}" />
    <link
      rel="stylesheet"
      th:href="@{/fontawesome-free-6.7.2-web/css/all.min.css}"
    />
  </head>
  <body>
    <footer class="footer" th:fragment="footer">
      <h2>Trải nghiệm trên các thiết bị của T-Movies</h2>
      <div>
        <button>Trang web</button>
        <button>Thiết bị di động</button>
        <button>TV</button>
      </div>
      <hr />
      <div class="footer-content">
        <div>
          <h3>Giới thiệu về chúng tôi</h3>
          <ul>
            <li><a href="">Thông tin công ty</a></li>
            <li><a href="">Dịch vụ</a></li>
            <li><a href="">Cách xem</a></li>
            <li><a href="">Nhà đầu tư</a></li>
          </ul>
        </div>
        <div>
          <h3>Hợp tác</h3>
          <ul>
            <li><a href="">Thông tin công ty</a></li>
            <li><a href="">Dịch vụ</a></li>
            <li><a href="">Cách xem</a></li>
            <li><a href="">Nhà đầu tư</a></li>
          </ul>
        </div>
        <div>
          <h3>Hỗ trợ & giúp đỡ</h3>
          <ul>
            <li><a href="">Thông tin công ty</a></li>
            <li><a href="">Dịch vụ</a></li>
            <li><a href="">Cách xem</a></li>
            <li><a href="">Nhà đầu tư</a></li>
          </ul>
        </div>
        <div>
          <h3>Điều khoản & Chính sách</h3>
          <ul>
            <li><a href="">Thông tin công ty</a></li>
            <li><a href="">Dịch vụ</a></li>
            <li><a href="">Cách xem</a></li>
            <li><a href="">Nhà đầu tư</a></li>
          </ul>
        </div>
      </div>
      <cite>&copy; Copyright 2025 T-Movies All Rights Reserved</cite>
      <div>
        <a href=""> <i class="fa-brands fa-facebook"></i></a>
        <a href=""><i class="fa-brands fa-google"></i></a>
        <a href=""> <i class="fa-brands fa-telegram"></i></a>
      </div>
    </footer>
  </body>
</html>
