<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:fragment="head(title)">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title th:text="${title}"></title>
    <link rel="stylesheet" th:href="@{/css/body.css}" />
    <link rel="stylesheet" th:href="@{/css/nav.css}" />
    <link
      rel="stylesheet"
      th:href="@{/fontawesome-free-6.7.2-web/css/all.min.css}"
    />
  </head>
  <body>
    <nav th:fragment="nav">
      <img
        th:src="@{/images/Screenshot_2025-04-26_194412-removebg-preview.png}"
        alt=""
      />
      <ul class="category">
        <li><a href="">Phim bộ</a></li>
        <li><a href="">Phim lẻ</a></li>
        <li>
          <a href="">Thể loại</a>
          <ul class="type">
            <li><a href="">Kinh dị</a></li>
            <li><a href="">Hành động</a></li>
            <li><a href="">Hài hước</a></li>
          </ul>
        </li>
        <li>
          <a href="">Quốc gia</a>
          <ul class="country">
            <li><a href="">Trung Quốc</a></li>
            <li><a href="">Hàn Quốc</a></li>
            <li><a href="">Mỹ</a></li>
          </ul>
        </li>
      </ul>

      <form action="">
        <input type="text" placeholder="Tìm kiếm" />
        <button type="submit">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </form>

      <div class="user">
        <a href="">
          <i class="fa-solid fa-clock-rotate-left"></i> <span>History </span></a
        >

        <a href=""
          ><i class="fa-solid fa-earth-americas"></i> <span>Language </span></a
        >

        <a href=""><i class="fa-solid fa-user"></i> <span>Me </span></a>

        <a href=""><i class="fa-solid fa-moon"></i> <span>Night </span></a>
      </div>

      <div>
        <a href="">
          <button>App</button>
        </a>
        <a href="">
          <button>VIP</button>
        </a>
      </div>
    </nav>
  </body>
</html>
