<main class="setting-account" th:fragment="content">
  <div th:replace="layouts/slide-bar::slide-bar"></div>
  <div class="setting-account-content">
    <h2>Cài đặt cá nhân</h2>
    <hr />
    <h3>Thông tin cá nhân</h3>
    <div>
      <img th:src="@{/images/luu-diec-phi-464254.jpg}" alt="" />
      <div>
        <p>User1@gnmail.com</p>
        <div>
          <p><span>Giới tính:</span> Nam</p>
          |
          <p><span>Ngày sinh:</span> 26/09/2001</p>
          |
          <p><span>UID:</span> user001</p>
        </div>
      </div>
      <a href=""> Chỉnh sửa </a>
    </div>
    <h3>VIP</h3>
    <div class="vip">
      <div>
        <h2>Trở thành VIP</h2>
        <p>
          Trở thành VIP để xem phim không quảng cáo, tải phim về máy và nhiều
          tính năng khác.
        </p>
      </div>
      <a href="">Đăng ký</a>
    </div>
    <h3>Tài khoản và bảo mật</h3>
    <div class="account-security">
      <div>
        <p><span>Địa chỉ email:</span> user1@gmail.com</p>
        <a href="">Chỉnh sửa</a>
      </div>
      <hr />
      <div>
        <p><span>Số điện thoại:</span> 0123123123</p>
        <a href="">Chỉnh sửa</a>
      </div>
      <hr />
      <div>
        <p><span>Mật khẩu:</span> *******</p>
        <a href="">Chỉnh sửa</a>
      </div>
      <hr />
      <div>
        <p><span>Quản lý gia hạn tự động:</span> user1@gmail.com</p>
        <a href="">Chỉnh sửa</a>
      </div>
      <hr />
      <div>
        <p><span>Xóa tài khoản:</span> user1@gmail.com</p>
        <a href="">Chỉnh sửa</a>
      </div>
    </div>
  </div>
</main>
