<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../static/css/body.css" />
    <link rel="stylesheet" href="../../static/css/banner-detail.css" />
    <link
      rel="stylesheet"
      href="../../static/fontawesome-free-6.7.2-web/css/all.min.css"
    />
  </head>
  <body>
    <div class="banner">
      <div class="bg-content"></div>
      <div>
        <h1>Hoài Thủy Trúc Đình</h1>
        <div>
          <span>Free</span>
          <span>High Popular</span>
          <span>Top1</span>
        </div>
        <div>
          <span
            ><i class="fa-solid fa-star" style="color: #fdca31"></i>9.3</span
          >
          <span>2012</span> <span>T18</span>
          <span>30 Tập</span>
        </div>
        <p><span>Đạo diễn:</span></p>
        <p><span>Diễn viên chính:</span></p>
        <p><span>Thể loại:</span></p>
        <p>
          <span>Mô tả:</span>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum ratione
          quas porro obcaecati quae blanditiis omnis iusto deleniti tenetur.
          Dignissimos magni exercitationem quidem autem perferendis unde
          expedita cumque, molestiae facilis.
        </p>
        <div class="option">
          <a href=""><i class="fa-solid fa-play"></i> Chiếu phim </a>
          <a href=""
            ><i class="fa-solid fa-arrow-up-from-bracket"></i> Chia sẻ
          </a>
          <a href=""><i class="fa-regular fa-bookmark"></i> Sưu tập </a>
        </div>
      </div>
      <div class="gradient-bg"></div>
    </div>
  </body>
</html>
