<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../static/css/style1.css" />
    <!-- FontAwesome 6.2.0 CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <nav>
      <img
        src="../../static/images/Screenshot_2025-04-26_194412-removebg-preview.png"
        alt=""
      />
      <ul class="category">
        <li><a href="">Phim bộ</a></li>
        <li><a href="">Phim lẻ</a></li>
        <li>
          <a href="">Thể loại</a>
          <ul class="type">
            <li><a href="">Kinh dị</a></li>
            <li><a href="">Hành động</a></li>
            <li><a href="">Hài hước</a></li>
          </ul>
        </li>
        <li>
          <a href="">Quốc gia</a>
          <ul class="country">
            <li><a href="">Trung Quốc</a></li>
            <li><a href="">Hàn Quốc</a></li>
            <li><a href="">Mỹ</a></li>
          </ul>
        </li>
      </ul>

      <form action="">
        <input type="text" placeholder="Tìm kiếm" />
        <button type="submit">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </form>

      <div class="user">
        <a href="">
          <i class="fa-solid fa-clock-rotate-left"></i> <span>History </span></a
        >

        <a href=""
          ><i class="fa-solid fa-earth-americas"></i> <span>Language </span></a
        >

        <a href=""><i class="fa-solid fa-user"></i> <span>Me </span></a>

        <a href=""><i class="fa-solid fa-moon"></i> <span>Night </span></a>
      </div>

      <div>
        <a href="">
          <button>App</button>
        </a>
        <a href="">
          <button>VIP</button>
        </a>
      </div>
    </nav>
  </body>
  <!-- (Optional) Use CSS or JS implementation -->
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/js/all.min.js"
    integrity="sha512-naukR7I+Nk6gp7p5TMA4ycgfxaZBJ7MO5iC3Fp6ySQyKFHOGfpkSZkYVWV5R7u7cfAicxanwYQ5D1e17EfJcMA=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  ></script>
</html>
