<main th:fragment="content" class="film-container">
  <div class="content">
    <video th:src="@{/images/12290716_3840_2160_24fps.mp4}" controls></video>
    <div>
      <h2>Hoài thủy trúc đình</h2>
      <h3>Chọn tập</h3>
      <div class="episode">
        <a href=""><button>1</button></a>
        <a href=""><button>2</button></a>
        <a href=""><button>3</button></a>
        <a href=""><button>4</button></a>
        <a href=""><button>5</button></a>
        <a href=""><button>6</button></a>
        <a href=""><button>7</button></a>
        <a href=""><button>8</button></a>
        <a href=""><button>9</button></a>
        <a href=""><button>10</button></a>
        <a href=""><button>11</button></a>
        <a href=""><button>12</button></a>
        <a href=""><button>13</button></a>
        <a href=""><button>13</button></a>
        <a href=""><button>13</button></a>
        <a href=""><button>13</button></a>
        <a href=""><button>13</button></a>
        <a href=""><button>13</button></a>
        <a href=""><button>13</button></a>
        <a href=""><button>13</button></a>
        <a href=""><button>13</button></a>
        <a href=""><button>13</button></a>
      </div>
    </div>
  </div>
  <div>
    <div>
      <a href=""
        ><h1>
          Hoài thủy trúc đình
          <i class="fa-solid fa-chevron-right" style="font-size: 1rem"></i>
          <span>Tập 1</span>
        </h1></a
      >
      <p>
        <a href=""><i class="fa-solid fa-star"></i>9.3</a> (4.7K đánh giá) |
        <a href="">Tôi muốn đánh giá </a>
      </p>
      <p><span>T13</span> <span>2022</span> <span>24 tập</span></p>
      <p>
        <a href="">Tình cảm </a><a href="">Hài hước</a><a href="">Gia đình</a>
      </p>
      <p>
        <span>Mô tả:</span>Lorem, ipsum dolor sit amet consectetur adipisicing
        elit. Quia expedita laborum earum nisi, qui corrupti veritatis, officia
        velit amet, mollitia atque incidunt iusto sed deleniti. Esse eaque
        cumque nisi et.
      </p>
      <div class="actor-group">
        <div class="left">
          <a href=""><i class="fa-solid fa-chevron-left"></i></a>
        </div>
        <section class="actor-group-content">
          <div class="actor-group-item">
            <a href="">
              <img th:src="@{/images/luu-diec-phi-464254.jpg}" alt="" />
            </a>
            <a href=""> SKY FALL</a>
          </div>
          <div class="actor-group-item">
            <a href="">
              <img th:src="@{/images/luu-diec-phi-464254.jpg}" alt="" />
            </a>
            <a href=""> SKY FALL</a>
          </div>
          <div class="actor-group-item">
            <a href="">
              <img th:src="@{/images/luu-diec-phi-464254.jpg}" alt="" />
            </a>
            <a href=""> SKY FALL</a>
          </div>
          <div class="actor-group-item">
            <a href="">
              <img th:src="@{/images/luu-diec-phi-464254.jpg}" alt="" />
            </a>
            <a href=""> SKY FALL</a>
          </div>
          <div class="actor-group-item">
            <a href="">
              <img th:src="@{/images/luu-diec-phi-464254.jpg}" alt="" />
            </a>
            <a href=""> SKY FALL</a>
          </div>
          <div class="actor-group-item">
            <a href="">
              <img th:src="@{/images/luu-diec-phi-464254.jpg}" alt="" />
            </a>
            <a href=""> SKY FALL</a>
          </div>
        </section>
        <div class="right">
          <a href=""><i class="fa-solid fa-angle-right"></i></a>
        </div>
      </div>
      <h3>Đề xuất cho bạn</h3>
      <div class="phim-group">
        <div class="left">
          <a href=""><i class="fa-solid fa-chevron-left"></i></a>
        </div>
        <div class="phim-group-content">
          <div class="phim-group-item">
            <a href="">
              <span class="top1">Top1</span>
              <img
                th:src="@{/images/harper-bazaar-phim-ma-kinh-di-thai-lan-5-e1679931106586.jpg}"
                alt=""
              />
              <div class="gradient-film"><span>Trọn bộ 30 tập</span></div>
            </a>
            <a class="play" href="">
              <i class="fa-solid fa-play"></i>
            </a>
            <a class="save" href="">
              <i class="fa-solid fa-heart"></i>
            </a>
            <a href=""> SKY FALL</a>
          </div>
          <div class="phim-group-item">
            <a href="">
              <span class="top1">Top1</span>
              <img
                th:src="@{/images/harper-bazaar-phim-ma-kinh-di-thai-lan-5-e1679931106586.jpg}"
                alt=""
              />
              <div class="gradient-film"><span>Trọn bộ 30 tập</span></div>
            </a>
            <a class="play" href="">
              <i class="fa-solid fa-play"></i>
            </a>
            <a class="save" href="">
              <i class="fa-solid fa-heart"></i>
            </a>
            <a href=""> SKY FALL</a>
          </div>
          <div class="phim-group-item">
            <a href="">
              <span class="top1">Top1</span>
              <img
                th:src="@{/images/harper-bazaar-phim-ma-kinh-di-thai-lan-5-e1679931106586.jpg}"
                alt=""
              />
              <div class="gradient-film"><span>Trọn bộ 30 tập</span></div>
            </a>
            <a class="play" href="">
              <i class="fa-solid fa-play"></i>
            </a>
            <a class="save" href="">
              <i class="fa-solid fa-heart"></i>
            </a>
            <a href=""> SKY FALL</a>
          </div>
          <div class="phim-group-item">
            <a href="">
              <span class="top1">Top1</span>
              <img
                th:src="@{/images/harper-bazaar-phim-ma-kinh-di-thai-lan-5-e1679931106586.jpg}"
                alt=""
              />
              <div class="gradient-film"><span>Trọn bộ 30 tập</span></div>
            </a>
            <a class="play" href="">
              <i class="fa-solid fa-play"></i>
            </a>
            <a class="save" href="">
              <i class="fa-solid fa-heart"></i>
            </a>
            <a href=""> SKY FALL</a>
          </div>
          <div class="phim-group-item">
            <a href="">
              <span class="top1">Top1</span>
              <img
                th:src="@{/images/harper-bazaar-phim-ma-kinh-di-thai-lan-5-e1679931106586.jpg}"
                alt=""
              />
              <div class="gradient-film"><span>Trọn bộ 30 tập</span></div>
            </a>
            <a class="play" href="">
              <i class="fa-solid fa-play"></i>
            </a>
            <a class="save" href="">
              <i class="fa-solid fa-heart"></i>
            </a>
            <a href=""> SKY FALL</a>
          </div>
          <div class="phim-group-item">
            <a href="">
              <span class="top1">Top1</span>
              <img
                th:src="@{/images/harper-bazaar-phim-ma-kinh-di-thai-lan-5-e1679931106586.jpg}"
                alt=""
              />
              <div class="gradient-film"><span>Trọn bộ 30 tập</span></div>
            </a>
            <a class="play" href="">
              <i class="fa-solid fa-play"></i>
            </a>
            <a class="save" href="">
              <i class="fa-solid fa-heart"></i>
            </a>
            <a href=""> SKY FALL</a>
          </div>
        </div>
        <div class="right">
          <a href=""><i class="fa-solid fa-angle-right"></i></a>
        </div>
      </div>
      <h3>Bình luận</h3>
      <div class="comment">
        <img th:src="@{/images/luu-diec-phi-464254.jpg}" alt="" />
        <form action="">
          <textarea name="" id=""></textarea>
          <button type="submit">Gửi</button>
        </form>
      </div>
    </div>
    <div>
      <h2>Bảng xếp hạng</h2>
    </div>
  </div>
</main>
