<main th:fragment="content">
  <div th:replace="layouts/banner-detail::banner-detail"></div>
  <div class="fd-container">
    <div>
      <a href="">Chọn tập</a>
      <a href="">Diễn viên</a>
      <a href="">Đề xuất cho bạn</a>
      <select name="" id="">
        <option value="">Tập 1 -> Tập 20</option>
        <option value="">Tập 21 -> Tập 40</option>
      </select>
    </div>
    <hr />
    <section class="content">
      <div class="content-item">
        <a href="">
          <img th:src="@{/images/R.jpg}" alt="" />
          <div class="bg-xemtiep">
            <a href="">
              <i class="fa-solid fa-play"></i>
            </a>
          </div>
          <a href=""><div class="history-bar"></div></a>
        </a>
        <a href=""> SKY FALL</a>
      </div>
      <div class="content-item">
        <a href="">
          <img th:src="@{/images/R.jpg}" alt="" />
          <div class="bg-xemtiep">
            <a href="">
              <i class="fa-solid fa-play"></i>
            </a>
          </div>
          <a href=""><div class="history-bar"></div></a>
        </a>
        <a href=""> SKY FALL</a>
      </div>
      <div class="content-item">
        <a href="">
          <img th:src="@{/images/R.jpg}" alt="" />
          <div class="bg-xemtiep">
            <a href="">
              <i class="fa-solid fa-play"></i>
            </a>
          </div>
          <a href=""><div class="history-bar"></div></a>
        </a>
        <a href=""> SKY FALL</a>
      </div>
      <div class="content-item">
        <a href="">
          <img th:src="@{/images/R.jpg}" alt="" />
          <div class="bg-xemtiep">
            <a href="">
              <i class="fa-solid fa-play"></i>
            </a>
          </div>
          <a href=""><div class="history-bar"></div></a>
        </a>
        <a href=""> SKY FALL</a>
      </div>
      <div class="content-item">
        <a href="">
          <img th:src="@{/images/R.jpg}" alt="" />
          <div class="bg-xemtiep">
            <a href="">
              <i class="fa-solid fa-play"></i>
            </a>
          </div>
          <a href=""><div class="history-bar"></div></a>
        </a>
        <a href=""> SKY FALL</a>
      </div>
      <div class="content-item">
        <a href="">
          <img th:src="@{/images/R.jpg}" alt="" />
          <div class="bg-xemtiep">
            <a href="">
              <i class="fa-solid fa-play"></i>
            </a>
          </div>
          <a href=""><div class="history-bar"></div></a>
        </a>
        <a href=""> SKY FALL</a>
      </div>
      <div class="content-item">
        <a href="">
          <img th:src="@{/images/R.jpg}" alt="" />
          <div class="bg-xemtiep">
            <a href="">
              <i class="fa-solid fa-play"></i>
            </a>
          </div>
          <a href=""><div class="history-bar"></div></a>
        </a>
        <a href=""> SKY FALL</a>
      </div>
      <div class="content-item">
        <a href="">
          <img th:src="@{/images/R.jpg}" alt="" />
          <div class="bg-xemtiep">
            <a href="">
              <i class="fa-solid fa-play"></i>
            </a>
          </div>
          <a href=""><div class="history-bar"></div></a>
        </a>
        <a href=""> SKY FALL</a>
      </div>
      <div class="content-item">
        <a href="">
          <img th:src="@{/images/R.jpg}" alt="" />
          <div class="bg-xemtiep">
            <a href="">
              <i class="fa-solid fa-play"></i>
            </a>
          </div>
          <a href=""><div class="history-bar"></div></a>
        </a>
        <a href=""> SKY FALL</a>
      </div>
      <div class="content-item">
        <a href="">
          <img th:src="@{/images/R.jpg}" alt="" />
          <div class="bg-xemtiep">
            <a href="">
              <i class="fa-solid fa-play"></i>
            </a>
          </div>
          <a href=""><div class="history-bar"></div></a>
        </a>
        <a href=""> SKY FALL</a>
      </div>
      <div class="content-item">
        <a href="">
          <img th:src="@{/images/R.jpg}" alt="" />
          <div class="bg-xemtiep">
            <a href="">
              <i class="fa-solid fa-play"></i>
            </a>
          </div>
          <a href=""><div class="history-bar"></div></a>
        </a>
        <a href=""> SKY FALL</a>
      </div>
      <div class="content-item">
        <a href="">
          <img th:src="@{/images/R.jpg}" alt="" />
          <div class="bg-xemtiep">
            <a href="">
              <i class="fa-solid fa-play"></i>
            </a>
          </div>
          <a href=""><div class="history-bar"></div></a>
        </a>
        <a href=""> SKY FALL</a>
      </div>
      <div class="content-item">
        <a href="">
          <img th:src="@{/images/R.jpg}" alt="" />
          <div class="bg-xemtiep">
            <a href="">
              <i class="fa-solid fa-play"></i>
            </a>
          </div>
          <a href=""><div class="history-bar"></div></a>
        </a>
        <a href=""> SKY FALL</a>
      </div>
      <div class="content-item">
        <a href="">
          <img th:src="@{/images/R.jpg}" alt="" />
          <div class="bg-xemtiep">
            <a href="">
              <i class="fa-solid fa-play"></i>
            </a>
          </div>
          <a href=""><div class="history-bar"></div></a>
        </a>
        <a href=""> SKY FALL</a>
      </div>
      <div class="content-item">
        <a href="">
          <img th:src="@{/images/R.jpg}" alt="" />
          <div class="bg-xemtiep">
            <a href="">
              <i class="fa-solid fa-play"></i>
            </a>
          </div>
          <a href=""><div class="history-bar"></div></a>
        </a>
        <a href=""> SKY FALL</a>
      </div>
      <div class="content-item">
        <a href="">
          <img th:src="@{/images/R.jpg}" alt="" />
          <div class="bg-xemtiep">
            <a href="">
              <i class="fa-solid fa-play"></i>
            </a>
          </div>
          <a href=""><div class="history-bar"></div></a>
        </a>
        <a href=""> SKY FALL</a>
      </div>
      <div class="content-item">
        <a href="">
          <img th:src="@{/images/R.jpg}" alt="" />
          <div class="bg-xemtiep">
            <a href="">
              <i class="fa-solid fa-play"></i>
            </a>
          </div>
          <a href=""><div class="history-bar"></div></a>
        </a>
        <a href=""> SKY FALL</a>
      </div>
      <div class="content-item">
        <a href="">
          <img th:src="@{/images/R.jpg}" alt="" />
          <div class="bg-xemtiep">
            <a href="">
              <i class="fa-solid fa-play"></i>
            </a>
          </div>
          <a href=""><div class="history-bar"></div></a>
        </a>
        <a href=""> SKY FALL</a>
      </div>
      <div class="content-item">
        <a href="">
          <img th:src="@{/images/R.jpg}" alt="" />
          <div class="bg-xemtiep">
            <a href="">
              <i class="fa-solid fa-play"></i>
            </a>
          </div>
          <a href=""><div class="history-bar"></div></a>
        </a>
        <a href=""> SKY FALL</a>
      </div>
      <div class="content-item">
        <a href="">
          <img th:src="@{/images/R.jpg}" alt="" />
          <div class="bg-xemtiep">
            <a href="">
              <i class="fa-solid fa-play"></i>
            </a>
          </div>
          <a href=""><div class="history-bar"></div></a>
        </a>
        <a href=""> SKY FALL</a>
      </div>
    </section>
  </div>
</main>
