<main th:fragment="content" class="list-container">
  <div class="control">
    <a href=""><h1>Cổ trang</h1></a>
    <form action="">
      <label for="">Quốc gia:</label>
      <select name="" id="">
        <option value="">Tất cả</option>
        <option value="">Trung quốc</option>
        <option value="">Hàn Quốc</option>
        <option value="">Việt Nam</option>
      </select>
      <label for="">Thể loại:</label>
      <select name="" id="">
        <option value="">Tất cả</option>
        <option value="">Kinh dị</option>
        <option value="">Hành động</option>
        <option value="">Hài hước</option>
      </select>
      <label for="">Năm sản xuất:</label>
      <select name="" id="">
        <option value="">Tất cả</option>
        <option value="">2010</option>
        <option value="">2011</option>
        <option value="">2012</option>
      </select>
    </form>
  </div>
  <section class="content">
    <div class="phim-group-item">
      <a href="">
        <span class="top1">Top1</span>
        <img
          th:src="@{/images/harper-bazaar-phim-ma-kinh-di-thai-lan-5-e1679931106586.jpg}"
          alt=""
        />
        <div class="gradient-film"><span>Trọn bộ 30 tập</span></div>
      </a>
      <a class="play" href="">
        <i class="fa-solid fa-play"></i>
      </a>
      <a class="save" href="">
        <i class="fa-solid fa-heart"></i>
      </a>
      <a href=""> SKY FALL</a>
    </div>
    <div class="phim-group-item">
      <a href="">
        <span class="top1">Top1</span>
        <img
          th:src="@{/images/harper-bazaar-phim-ma-kinh-di-thai-lan-5-e1679931106586.jpg}"
          alt=""
        />
        <div class="gradient-film"><span>Trọn bộ 30 tập</span></div>
      </a>
      <a class="play" href="">
        <i class="fa-solid fa-play"></i>
      </a>
      <a class="save" href="">
        <i class="fa-solid fa-heart"></i>
      </a>
      <a href=""> SKY FALL</a>
    </div>
    <div class="phim-group-item">
      <a href="">
        <span class="top1">Top1</span>
        <img
          th:src="@{/images/harper-bazaar-phim-ma-kinh-di-thai-lan-5-e1679931106586.jpg}"
          alt=""
        />
        <div class="gradient-film"><span>Trọn bộ 30 tập</span></div>
      </a>
      <a class="play" href="">
        <i class="fa-solid fa-play"></i>
      </a>
      <a class="save" href="">
        <i class="fa-solid fa-heart"></i>
      </a>
      <a href=""> SKY FALL</a>
    </div>
    <div class="phim-group-item">
      <a href="">
        <span class="top1">Top1</span>
        <img
          th:src="@{/images/harper-bazaar-phim-ma-kinh-di-thai-lan-5-e1679931106586.jpg}"
          alt=""
        />
        <div class="gradient-film"><span>Trọn bộ 30 tập</span></div>
      </a>
      <a class="play" href="">
        <i class="fa-solid fa-play"></i>
      </a>
      <a class="save" href="">
        <i class="fa-solid fa-heart"></i>
      </a>
      <a href=""> SKY FALL</a>
    </div>
    <div class="phim-group-item">
      <a href="">
        <span class="top1">Top1</span>
        <img
          th:src="@{/images/harper-bazaar-phim-ma-kinh-di-thai-lan-5-e1679931106586.jpg}"
          alt=""
        />
        <div class="gradient-film"><span>Trọn bộ 30 tập</span></div>
      </a>
      <a class="play" href="">
        <i class="fa-solid fa-play"></i>
      </a>
      <a class="save" href="">
        <i class="fa-solid fa-heart"></i>
      </a>
      <a href=""> SKY FALL</a>
    </div>
    <div class="phim-group-item">
      <a href="">
        <span class="top1">Top1</span>
        <img
          th:src="@{/images/harper-bazaar-phim-ma-kinh-di-thai-lan-5-e1679931106586.jpg}"
          alt=""
        />
        <div class="gradient-film"><span>Trọn bộ 30 tập</span></div>
      </a>
      <a class="play" href="">
        <i class="fa-solid fa-play"></i>
      </a>
      <a class="save" href="">
        <i class="fa-solid fa-heart"></i>
      </a>
      <a href=""> SKY FALL</a>
    </div>
    <div class="phim-group-item">
      <a href="">
        <span class="top1">Top1</span>
        <img
          th:src="@{/images/harper-bazaar-phim-ma-kinh-di-thai-lan-5-e1679931106586.jpg}"
          alt=""
        />
        <div class="gradient-film"><span>Trọn bộ 30 tập</span></div>
      </a>
      <a class="play" href="">
        <i class="fa-solid fa-play"></i>
      </a>
      <a class="save" href="">
        <i class="fa-solid fa-heart"></i>
      </a>
      <a href=""> SKY FALL</a>
    </div>
    <div class="phim-group-item">
      <a href="">
        <span class="top1">Top1</span>
        <img
          th:src="@{/images/harper-bazaar-phim-ma-kinh-di-thai-lan-5-e1679931106586.jpg}"
          alt=""
        />
        <div class="gradient-film"><span>Trọn bộ 30 tập</span></div>
      </a>
      <a class="play" href="">
        <i class="fa-solid fa-play"></i>
      </a>
      <a class="save" href="">
        <i class="fa-solid fa-heart"></i>
      </a>
      <a href=""> SKY FALL</a>
    </div>
    <div class="phim-group-item">
      <a href="">
        <span class="top1">Top1</span>
        <img
          th:src="@{/images/harper-bazaar-phim-ma-kinh-di-thai-lan-5-e1679931106586.jpg}"
          alt=""
        />
        <div class="gradient-film"><span>Trọn bộ 30 tập</span></div>
      </a>
      <a class="play" href="">
        <i class="fa-solid fa-play"></i>
      </a>
      <a class="save" href="">
        <i class="fa-solid fa-heart"></i>
      </a>
      <a href=""> SKY FALL</a>
    </div>
    <div class="phim-group-item">
      <a href="">
        <span class="top1">Top1</span>
        <img
          th:src="@{/images/harper-bazaar-phim-ma-kinh-di-thai-lan-5-e1679931106586.jpg}"
          alt=""
        />
        <div class="gradient-film"><span>Trọn bộ 30 tập</span></div>
      </a>
      <a class="play" href="">
        <i class="fa-solid fa-play"></i>
      </a>
      <a class="save" href="">
        <i class="fa-solid fa-heart"></i>
      </a>
      <a href=""> SKY FALL</a>
    </div>
    <div class="phim-group-item">
      <a href="">
        <span class="top1">Top1</span>
        <img
          th:src="@{/images/harper-bazaar-phim-ma-kinh-di-thai-lan-5-e1679931106586.jpg}"
          alt=""
        />
        <div class="gradient-film"><span>Trọn bộ 30 tập</span></div>
      </a>
      <a class="play" href="">
        <i class="fa-solid fa-play"></i>
      </a>
      <a class="save" href="">
        <i class="fa-solid fa-heart"></i>
      </a>
      <a href=""> SKY FALL</a>
    </div>
    <div class="phim-group-item">
      <a href="">
        <span class="top1">Top1</span>
        <img
          th:src="@{/images/harper-bazaar-phim-ma-kinh-di-thai-lan-5-e1679931106586.jpg}"
          alt=""
        />
        <div class="gradient-film"><span>Trọn bộ 30 tập</span></div>
      </a>
      <a class="play" href="">
        <i class="fa-solid fa-play"></i>
      </a>
      <a class="save" href="">
        <i class="fa-solid fa-heart"></i>
      </a>
      <a href=""> SKY FALL</a>
    </div>
    <div class="phim-group-item">
      <a href="">
        <span class="top1">Top1</span>
        <img
          th:src="@{/images/harper-bazaar-phim-ma-kinh-di-thai-lan-5-e1679931106586.jpg}"
          alt=""
        />
        <div class="gradient-film"><span>Trọn bộ 30 tập</span></div>
      </a>
      <a class="play" href="">
        <i class="fa-solid fa-play"></i>
      </a>
      <a class="save" href="">
        <i class="fa-solid fa-heart"></i>
      </a>
      <a href=""> SKY FALL</a>
    </div>
    <div class="phim-group-item">
      <a href="">
        <span class="top1">Top1</span>
        <img
          th:src="@{/images/harper-bazaar-phim-ma-kinh-di-thai-lan-5-e1679931106586.jpg}"
          alt=""
        />
        <div class="gradient-film"><span>Trọn bộ 30 tập</span></div>
      </a>
      <a class="play" href="">
        <i class="fa-solid fa-play"></i>
      </a>
      <a class="save" href="">
        <i class="fa-solid fa-heart"></i>
      </a>
      <a href=""> SKY FALL</a>
    </div>
    <div class="phim-group-item">
      <a href="">
        <span class="top1">Top1</span>
        <img
          th:src="@{/images/harper-bazaar-phim-ma-kinh-di-thai-lan-5-e1679931106586.jpg}"
          alt=""
        />
        <div class="gradient-film"><span>Trọn bộ 30 tập</span></div>
      </a>
      <a class="play" href="">
        <i class="fa-solid fa-play"></i>
      </a>
      <a class="save" href="">
        <i class="fa-solid fa-heart"></i>
      </a>
      <a href=""> SKY FALL</a>
    </div>
    <div class="phim-group-item">
      <a href="">
        <span class="top1">Top1</span>
        <img
          th:src="@{/images/harper-bazaar-phim-ma-kinh-di-thai-lan-5-e1679931106586.jpg}"
          alt=""
        />
        <div class="gradient-film"><span>Trọn bộ 30 tập</span></div>
      </a>
      <a class="play" href="">
        <i class="fa-solid fa-play"></i>
      </a>
      <a class="save" href="">
        <i class="fa-solid fa-heart"></i>
      </a>
      <a href=""> SKY FALL</a>
    </div>
    <div class="phim-group-item">
      <a href="">
        <span class="top1">Top1</span>
        <img
          th:src="@{/images/harper-bazaar-phim-ma-kinh-di-thai-lan-5-e1679931106586.jpg}"
          alt=""
        />
        <div class="gradient-film"><span>Trọn bộ 30 tập</span></div>
      </a>
      <a class="play" href="">
        <i class="fa-solid fa-play"></i>
      </a>
      <a class="save" href="">
        <i class="fa-solid fa-heart"></i>
      </a>
      <a href=""> SKY FALL</a>
    </div>
    <div class="phim-group-item">
      <a href="">
        <span class="top1">Top1</span>
        <img
          th:src="@{/images/harper-bazaar-phim-ma-kinh-di-thai-lan-5-e1679931106586.jpg}"
          alt=""
        />
        <div class="gradient-film"><span>Trọn bộ 30 tập</span></div>
      </a>
      <a class="play" href="">
        <i class="fa-solid fa-play"></i>
      </a>
      <a class="save" href="">
        <i class="fa-solid fa-heart"></i>
      </a>
      <a href=""> SKY FALL</a>
    </div>
    <div class="phim-group-item">
      <a href="">
        <span class="top1">Top1</span>
        <img
          th:src="@{/images/harper-bazaar-phim-ma-kinh-di-thai-lan-5-e1679931106586.jpg}"
          alt=""
        />
        <div class="gradient-film"><span>Trọn bộ 30 tập</span></div>
      </a>
      <a class="play" href="">
        <i class="fa-solid fa-play"></i>
      </a>
      <a class="save" href="">
        <i class="fa-solid fa-heart"></i>
      </a>
      <a href=""> SKY FALL</a>
    </div>
    <div class="phim-group-item">
      <a href="">
        <span class="top1">Top1</span>
        <img
          th:src="@{/images/harper-bazaar-phim-ma-kinh-di-thai-lan-5-e1679931106586.jpg}"
          alt=""
        />
        <div class="gradient-film"><span>Trọn bộ 30 tập</span></div>
      </a>
      <a class="play" href="">
        <i class="fa-solid fa-play"></i>
      </a>
      <a class="save" href="">
        <i class="fa-solid fa-heart"></i>
      </a>
      <a href=""> SKY FALL</a>
    </div>
    <div class="phim-group-item">
      <a href="">
        <span class="top1">Top1</span>
        <img
          th:src="@{/images/harper-bazaar-phim-ma-kinh-di-thai-lan-5-e1679931106586.jpg}"
          alt=""
        />
        <div class="gradient-film"><span>Trọn bộ 30 tập</span></div>
      </a>
      <a class="play" href="">
        <i class="fa-solid fa-play"></i>
      </a>
      <a class="save" href="">
        <i class="fa-solid fa-heart"></i>
      </a>
      <a href=""> SKY FALL</a>
    </div>
    <div class="phim-group-item">
      <a href="">
        <span class="top1">Top1</span>
        <img
          th:src="@{/images/harper-bazaar-phim-ma-kinh-di-thai-lan-5-e1679931106586.jpg}"
          alt=""
        />
        <div class="gradient-film"><span>Trọn bộ 30 tập</span></div>
      </a>
      <a class="play" href="">
        <i class="fa-solid fa-play"></i>
      </a>
      <a class="save" href="">
        <i class="fa-solid fa-heart"></i>
      </a>
      <a href=""> SKY FALL</a>
    </div>
    <div class="phim-group-item">
      <a href="">
        <span class="top1">Top1</span>
        <img
          th:src="@{/images/harper-bazaar-phim-ma-kinh-di-thai-lan-5-e1679931106586.jpg}"
          alt=""
        />
        <div class="gradient-film"><span>Trọn bộ 30 tập</span></div>
      </a>
      <a class="play" href="">
        <i class="fa-solid fa-play"></i>
      </a>
      <a class="save" href="">
        <i class="fa-solid fa-heart"></i>
      </a>
      <a href=""> SKY FALL</a>
    </div>
    <div class="phim-group-item">
      <a href="">
        <span class="top1">Top1</span>
        <img
          th:src="@{/images/harper-bazaar-phim-ma-kinh-di-thai-lan-5-e1679931106586.jpg}"
          alt=""
        />
        <div class="gradient-film"><span>Trọn bộ 30 tập</span></div>
      </a>
      <a class="play" href="">
        <i class="fa-solid fa-play"></i>
      </a>
      <a class="save" href="">
        <i class="fa-solid fa-heart"></i>
      </a>
      <a href=""> SKY FALL</a>
    </div>
    <div class="phim-group-item">
      <a href="">
        <span class="top1">Top1</span>
        <img
          th:src="@{/images/harper-bazaar-phim-ma-kinh-di-thai-lan-5-e1679931106586.jpg}"
          alt=""
        />
        <div class="gradient-film"><span>Trọn bộ 30 tập</span></div>
      </a>
      <a class="play" href="">
        <i class="fa-solid fa-play"></i>
      </a>
      <a class="save" href="">
        <i class="fa-solid fa-heart"></i>
      </a>
      <a href=""> SKY FALL</a>
    </div>
    <div class="phim-group-item">
      <a href="">
        <span class="top1">Top1</span>
        <img
          th:src="@{/images/harper-bazaar-phim-ma-kinh-di-thai-lan-5-e1679931106586.jpg}"
          alt=""
        />
        <div class="gradient-film"><span>Trọn bộ 30 tập</span></div>
      </a>
      <a class="play" href="">
        <i class="fa-solid fa-play"></i>
      </a>
      <a class="save" href="">
        <i class="fa-solid fa-heart"></i>
      </a>
      <a href=""> SKY FALL</a>
    </div>
    <div class="phim-group-item">
      <a href="">
        <span class="top1">Top1</span>
        <img
          th:src="@{/images/harper-bazaar-phim-ma-kinh-di-thai-lan-5-e1679931106586.jpg}"
          alt=""
        />
        <div class="gradient-film"><span>Trọn bộ 30 tập</span></div>
      </a>
      <a class="play" href="">
        <i class="fa-solid fa-play"></i>
      </a>
      <a class="save" href="">
        <i class="fa-solid fa-heart"></i>
      </a>
      <a href=""> SKY FALL</a>
    </div>
    <div class="phim-group-item">
      <a href="">
        <span class="top1">Top1</span>
        <img
          th:src="@{/images/harper-bazaar-phim-ma-kinh-di-thai-lan-5-e1679931106586.jpg}"
          alt=""
        />
        <div class="gradient-film"><span>Trọn bộ 30 tập</span></div>
      </a>
      <a class="play" href="">
        <i class="fa-solid fa-play"></i>
      </a>
      <a class="save" href="">
        <i class="fa-solid fa-heart"></i>
      </a>
      <a href=""> SKY FALL</a>
    </div>
    <div class="phim-group-item">
      <a href="">
        <span class="top1">Top1</span>
        <img
          th:src="@{/images/harper-bazaar-phim-ma-kinh-di-thai-lan-5-e1679931106586.jpg}"
          alt=""
        />
        <div class="gradient-film"><span>Trọn bộ 30 tập</span></div>
      </a>
      <a class="play" href="">
        <i class="fa-solid fa-play"></i>
      </a>
      <a class="save" href="">
        <i class="fa-solid fa-heart"></i>
      </a>
      <a href=""> SKY FALL</a>
    </div>
    <div class="phim-group-item">
      <a href="">
        <span class="top1">Top1</span>
        <img
          th:src="@{/images/harper-bazaar-phim-ma-kinh-di-thai-lan-5-e1679931106586.jpg}"
          alt=""
        />
        <div class="gradient-film"><span>Trọn bộ 30 tập</span></div>
      </a>
      <a class="play" href="">
        <i class="fa-solid fa-play"></i>
      </a>
      <a class="save" href="">
        <i class="fa-solid fa-heart"></i>
      </a>
      <a href=""> SKY FALL</a>
    </div>
  </section>
  <ul>
    <li><a href="">First</a></li>
    <li><a href="">1</a></li>
    <li><a href="">2</a></li>
    <li><a href="">3</a></li>
    <li>
      <a href="">...</a>
    </li>
    <li><a href="">Last</a></li>
  </ul>
</main>
