<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../static/css/body.css" />
    <link rel="stylesheet" href="../../static/css/nav.css" />
    <link rel="stylesheet" href="../../static/css/style3.css" />

    <link rel="stylesheet" href="../../static/css/footer.css" />

    <link
      rel="stylesheet"
      href="../../static/fontawesome-free-6.7.2-web/css/all.min.css"
    />
  </head>
  <body>
    <nav>
      <img
        src="../../static/images/Screenshot_2025-04-26_194412-removebg-preview.png"
        alt=""
      />
      <ul class="category">
        <li><a href="">Phim bộ</a></li>
        <li><a href="">Phim lẻ</a></li>
        <li>
          <a href="">Thể loại</a>
          <ul class="type">
            <li><a href="">Kinh dị</a></li>
            <li><a href="">Hành động</a></li>
            <li><a href="">Hài hước</a></li>
          </ul>
        </li>
        <li>
          <a href="">Quốc gia</a>
          <ul class="country">
            <li><a href="">Trung Quốc</a></li>
            <li><a href="">Hàn Quốc</a></li>
            <li><a href="">Mỹ</a></li>
          </ul>
        </li>
      </ul>

      <form action="">
        <input type="text" placeholder="Tìm kiếm" />
        <button type="submit">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </form>

      <div class="user">
        <a href="">
          <i class="fa-solid fa-clock-rotate-left"></i> <span>History </span></a
        >

        <a href=""
          ><i class="fa-solid fa-earth-americas"></i> <span>Language </span></a
        >

        <a href=""><i class="fa-solid fa-user"></i> <span>Me </span></a>

        <a href=""><i class="fa-solid fa-moon"></i> <span>Night </span></a>
      </div>

      <div>
        <a href="">
          <button>App</button>
        </a>
        <a href="">
          <button>VIP</button>
        </a>
      </div>
    </nav>
    <main class="container">
      <div class="control">
        <a href=""><h1>Cổ trang</h1></a>
        <form action="">
          <label for="">Quốc gia:</label>
          <select name="" id="">
            <option value="">Tất cả</option>
            <option value="">Trung quốc</option>
            <option value="">Hàn Quốc</option>
            <option value="">Việt Nam</option>
          </select>
          <label for="">Thể loại:</label>
          <select name="" id="">
            <option value="">Tất cả</option>
            <option value="">Kinh dị</option>
            <option value="">Hành động</option>
            <option value="">Hài hước</option>
          </select>
          <label for="">Năm sản xuất:</label>
          <select name="" id="">
            <option value="">Tất cả</option>
            <option value="">2010</option>
            <option value="">2011</option>
            <option value="">2012</option>
          </select>
        </form>
      </div>
      <section class="content">
        <div class="phim-group-item">
          <a href="">
            <span class="top1">Top1</span>
            <img
              src="../../static/images/harper-bazaar-phim-ma-kinh-di-thai-lan-5-e1679931106586.jpg"
              alt=""
            />
            <div class="gradient-film"><span>Trọn bộ 30 tập</span></div>
          </a>
          <a class="play" href="">
            <i class="fa-solid fa-play"></i>
          </a>
          <a class="save" href="">
            <i class="fa-solid fa-heart"></i>
          </a>
          <a href=""> SKY FALL</a>
        </div>
        <div class="phim-group-item">
          <a href="">
            <span class="top1">Top1</span>
            <img
              src="../../static/images/harper-bazaar-phim-ma-kinh-di-thai-lan-5-e1679931106586.jpg"
              alt=""
            />
            <div class="gradient-film"><span>Trọn bộ 30 tập</span></div>
          </a>
          <a class="play" href="">
            <i class="fa-solid fa-play"></i>
          </a>
          <a class="save" href="">
            <i class="fa-solid fa-heart"></i>
          </a>
          <a href=""> SKY FALL</a>
        </div>
        <div class="phim-group-item">
          <a href="">
            <span class="top1">Top1</span>
            <img
              src="../../static/images/harper-bazaar-phim-ma-kinh-di-thai-lan-5-e1679931106586.jpg"
              alt=""
            />
            <div class="gradient-film"><span>Trọn bộ 30 tập</span></div>
          </a>
          <a class="play" href="">
            <i class="fa-solid fa-play"></i>
          </a>
          <a class="save" href="">
            <i class="fa-solid fa-heart"></i>
          </a>
          <a href=""> SKY FALL</a>
        </div>
        <div class="phim-group-item">
          <a href="">
            <span class="top1">Top1</span>
            <img
              src="../../static/images/harper-bazaar-phim-ma-kinh-di-thai-lan-5-e1679931106586.jpg"
              alt=""
            />
            <div class="gradient-film"><span>Trọn bộ 30 tập</span></div>
          </a>
          <a class="play" href="">
            <i class="fa-solid fa-play"></i>
          </a>
          <a class="save" href="">
            <i class="fa-solid fa-heart"></i>
          </a>
          <a href=""> SKY FALL</a>
        </div>
        <div class="phim-group-item">
          <a href="">
            <span class="top1">Top1</span>
            <img
              src="../../static/images/harper-bazaar-phim-ma-kinh-di-thai-lan-5-e1679931106586.jpg"
              alt=""
            />
            <div class="gradient-film"><span>Trọn bộ 30 tập</span></div>
          </a>
          <a class="play" href="">
            <i class="fa-solid fa-play"></i>
          </a>
          <a class="save" href="">
            <i class="fa-solid fa-heart"></i>
          </a>
          <a href=""> SKY FALL</a>
        </div>
        <div class="phim-group-item">
          <a href="">
            <span class="top1">Top1</span>
            <img
              src="../../static/images/harper-bazaar-phim-ma-kinh-di-thai-lan-5-e1679931106586.jpg"
              alt=""
            />
            <div class="gradient-film"><span>Trọn bộ 30 tập</span></div>
          </a>
          <a class="play" href="">
            <i class="fa-solid fa-play"></i>
          </a>
          <a class="save" href="">
            <i class="fa-solid fa-heart"></i>
          </a>
          <a href=""> SKY FALL</a>
        </div>
        <div class="phim-group-item">
          <a href="">
            <span class="top1">Top1</span>
            <img
              src="../../static/images/harper-bazaar-phim-ma-kinh-di-thai-lan-5-e1679931106586.jpg"
              alt=""
            />
            <div class="gradient-film"><span>Trọn bộ 30 tập</span></div>
          </a>
          <a class="play" href="">
            <i class="fa-solid fa-play"></i>
          </a>
          <a class="save" href="">
            <i class="fa-solid fa-heart"></i>
          </a>
          <a href=""> SKY FALL</a>
        </div>
        <div class="phim-group-item">
          <a href="">
            <span class="top1">Top1</span>
            <img
              src="../../static/images/harper-bazaar-phim-ma-kinh-di-thai-lan-5-e1679931106586.jpg"
              alt=""
            />
            <div class="gradient-film"><span>Trọn bộ 30 tập</span></div>
          </a>
          <a class="play" href="">
            <i class="fa-solid fa-play"></i>
          </a>
          <a class="save" href="">
            <i class="fa-solid fa-heart"></i>
          </a>
          <a href=""> SKY FALL</a>
        </div>
        <div class="phim-group-item">
          <a href="">
            <span class="top1">Top1</span>
            <img
              src="../../static/images/harper-bazaar-phim-ma-kinh-di-thai-lan-5-e1679931106586.jpg"
              alt=""
            />
            <div class="gradient-film"><span>Trọn bộ 30 tập</span></div>
          </a>
          <a class="play" href="">
            <i class="fa-solid fa-play"></i>
          </a>
          <a class="save" href="">
            <i class="fa-solid fa-heart"></i>
          </a>
          <a href=""> SKY FALL</a>
        </div>
        <div class="phim-group-item">
          <a href="">
            <span class="top1">Top1</span>
            <img
              src="../../static/images/harper-bazaar-phim-ma-kinh-di-thai-lan-5-e1679931106586.jpg"
              alt=""
            />
            <div class="gradient-film"><span>Trọn bộ 30 tập</span></div>
          </a>
          <a class="play" href="">
            <i class="fa-solid fa-play"></i>
          </a>
          <a class="save" href="">
            <i class="fa-solid fa-heart"></i>
          </a>
          <a href=""> SKY FALL</a>
        </div>
        <div class="phim-group-item">
          <a href="">
            <span class="top1">Top1</span>
            <img
              src="../../static/images/harper-bazaar-phim-ma-kinh-di-thai-lan-5-e1679931106586.jpg"
              alt=""
            />
            <div class="gradient-film"><span>Trọn bộ 30 tập</span></div>
          </a>
          <a class="play" href="">
            <i class="fa-solid fa-play"></i>
          </a>
          <a class="save" href="">
            <i class="fa-solid fa-heart"></i>
          </a>
          <a href=""> SKY FALL</a>
        </div>
        <div class="phim-group-item">
          <a href="">
            <span class="top1">Top1</span>
            <img
              src="../../static/images/harper-bazaar-phim-ma-kinh-di-thai-lan-5-e1679931106586.jpg"
              alt=""
            />
            <div class="gradient-film"><span>Trọn bộ 30 tập</span></div>
          </a>
          <a class="play" href="">
            <i class="fa-solid fa-play"></i>
          </a>
          <a class="save" href="">
            <i class="fa-solid fa-heart"></i>
          </a>
          <a href=""> SKY FALL</a>
        </div>
        <div class="phim-group-item">
          <a href="">
            <span class="top1">Top1</span>
            <img
              src="../../static/images/harper-bazaar-phim-ma-kinh-di-thai-lan-5-e1679931106586.jpg"
              alt=""
            />
            <div class="gradient-film"><span>Trọn bộ 30 tập</span></div>
          </a>
          <a class="play" href="">
            <i class="fa-solid fa-play"></i>
          </a>
          <a class="save" href="">
            <i class="fa-solid fa-heart"></i>
          </a>
          <a href=""> SKY FALL</a>
        </div>
        <div class="phim-group-item">
          <a href="">
            <span class="top1">Top1</span>
            <img
              src="../../static/images/harper-bazaar-phim-ma-kinh-di-thai-lan-5-e1679931106586.jpg"
              alt=""
            />
            <div class="gradient-film"><span>Trọn bộ 30 tập</span></div>
          </a>
          <a class="play" href="">
            <i class="fa-solid fa-play"></i>
          </a>
          <a class="save" href="">
            <i class="fa-solid fa-heart"></i>
          </a>
          <a href=""> SKY FALL</a>
        </div>
        <div class="phim-group-item">
          <a href="">
            <span class="top1">Top1</span>
            <img
              src="../../static/images/harper-bazaar-phim-ma-kinh-di-thai-lan-5-e1679931106586.jpg"
              alt=""
            />
            <div class="gradient-film"><span>Trọn bộ 30 tập</span></div>
          </a>
          <a class="play" href="">
            <i class="fa-solid fa-play"></i>
          </a>
          <a class="save" href="">
            <i class="fa-solid fa-heart"></i>
          </a>
          <a href=""> SKY FALL</a>
        </div>
        <div class="phim-group-item">
          <a href="">
            <span class="top1">Top1</span>
            <img
              src="../../static/images/harper-bazaar-phim-ma-kinh-di-thai-lan-5-e1679931106586.jpg"
              alt=""
            />
            <div class="gradient-film"><span>Trọn bộ 30 tập</span></div>
          </a>
          <a class="play" href="">
            <i class="fa-solid fa-play"></i>
          </a>
          <a class="save" href="">
            <i class="fa-solid fa-heart"></i>
          </a>
          <a href=""> SKY FALL</a>
        </div>
        <div class="phim-group-item">
          <a href="">
            <span class="top1">Top1</span>
            <img
              src="../../static/images/harper-bazaar-phim-ma-kinh-di-thai-lan-5-e1679931106586.jpg"
              alt=""
            />
            <div class="gradient-film"><span>Trọn bộ 30 tập</span></div>
          </a>
          <a class="play" href="">
            <i class="fa-solid fa-play"></i>
          </a>
          <a class="save" href="">
            <i class="fa-solid fa-heart"></i>
          </a>
          <a href=""> SKY FALL</a>
        </div>
        <div class="phim-group-item">
          <a href="">
            <span class="top1">Top1</span>
            <img
              src="../../static/images/harper-bazaar-phim-ma-kinh-di-thai-lan-5-e1679931106586.jpg"
              alt=""
            />
            <div class="gradient-film"><span>Trọn bộ 30 tập</span></div>
          </a>
          <a class="play" href="">
            <i class="fa-solid fa-play"></i>
          </a>
          <a class="save" href="">
            <i class="fa-solid fa-heart"></i>
          </a>
          <a href=""> SKY FALL</a>
        </div>
        <div class="phim-group-item">
          <a href="">
            <span class="top1">Top1</span>
            <img
              src="../../static/images/harper-bazaar-phim-ma-kinh-di-thai-lan-5-e1679931106586.jpg"
              alt=""
            />
            <div class="gradient-film"><span>Trọn bộ 30 tập</span></div>
          </a>
          <a class="play" href="">
            <i class="fa-solid fa-play"></i>
          </a>
          <a class="save" href="">
            <i class="fa-solid fa-heart"></i>
          </a>
          <a href=""> SKY FALL</a>
        </div>
        <div class="phim-group-item">
          <a href="">
            <span class="top1">Top1</span>
            <img
              src="../../static/images/harper-bazaar-phim-ma-kinh-di-thai-lan-5-e1679931106586.jpg"
              alt=""
            />
            <div class="gradient-film"><span>Trọn bộ 30 tập</span></div>
          </a>
          <a class="play" href="">
            <i class="fa-solid fa-play"></i>
          </a>
          <a class="save" href="">
            <i class="fa-solid fa-heart"></i>
          </a>
          <a href=""> SKY FALL</a>
        </div>
        <div class="phim-group-item">
          <a href="">
            <span class="top1">Top1</span>
            <img
              src="../../static/images/harper-bazaar-phim-ma-kinh-di-thai-lan-5-e1679931106586.jpg"
              alt=""
            />
            <div class="gradient-film"><span>Trọn bộ 30 tập</span></div>
          </a>
          <a class="play" href="">
            <i class="fa-solid fa-play"></i>
          </a>
          <a class="save" href="">
            <i class="fa-solid fa-heart"></i>
          </a>
          <a href=""> SKY FALL</a>
        </div>
        <div class="phim-group-item">
          <a href="">
            <span class="top1">Top1</span>
            <img
              src="../../static/images/harper-bazaar-phim-ma-kinh-di-thai-lan-5-e1679931106586.jpg"
              alt=""
            />
            <div class="gradient-film"><span>Trọn bộ 30 tập</span></div>
          </a>
          <a class="play" href="">
            <i class="fa-solid fa-play"></i>
          </a>
          <a class="save" href="">
            <i class="fa-solid fa-heart"></i>
          </a>
          <a href=""> SKY FALL</a>
        </div>
        <div class="phim-group-item">
          <a href="">
            <span class="top1">Top1</span>
            <img
              src="../../static/images/harper-bazaar-phim-ma-kinh-di-thai-lan-5-e1679931106586.jpg"
              alt=""
            />
            <div class="gradient-film"><span>Trọn bộ 30 tập</span></div>
          </a>
          <a class="play" href="">
            <i class="fa-solid fa-play"></i>
          </a>
          <a class="save" href="">
            <i class="fa-solid fa-heart"></i>
          </a>
          <a href=""> SKY FALL</a>
        </div>
        <div class="phim-group-item">
          <a href="">
            <span class="top1">Top1</span>
            <img
              src="../../static/images/harper-bazaar-phim-ma-kinh-di-thai-lan-5-e1679931106586.jpg"
              alt=""
            />
            <div class="gradient-film"><span>Trọn bộ 30 tập</span></div>
          </a>
          <a class="play" href="">
            <i class="fa-solid fa-play"></i>
          </a>
          <a class="save" href="">
            <i class="fa-solid fa-heart"></i>
          </a>
          <a href=""> SKY FALL</a>
        </div>
        <div class="phim-group-item">
          <a href="">
            <span class="top1">Top1</span>
            <img
              src="../../static/images/harper-bazaar-phim-ma-kinh-di-thai-lan-5-e1679931106586.jpg"
              alt=""
            />
            <div class="gradient-film"><span>Trọn bộ 30 tập</span></div>
          </a>
          <a class="play" href="">
            <i class="fa-solid fa-play"></i>
          </a>
          <a class="save" href="">
            <i class="fa-solid fa-heart"></i>
          </a>
          <a href=""> SKY FALL</a>
        </div>
        <div class="phim-group-item">
          <a href="">
            <span class="top1">Top1</span>
            <img
              src="../../static/images/harper-bazaar-phim-ma-kinh-di-thai-lan-5-e1679931106586.jpg"
              alt=""
            />
            <div class="gradient-film"><span>Trọn bộ 30 tập</span></div>
          </a>
          <a class="play" href="">
            <i class="fa-solid fa-play"></i>
          </a>
          <a class="save" href="">
            <i class="fa-solid fa-heart"></i>
          </a>
          <a href=""> SKY FALL</a>
        </div>
        <div class="phim-group-item">
          <a href="">
            <span class="top1">Top1</span>
            <img
              src="../../static/images/harper-bazaar-phim-ma-kinh-di-thai-lan-5-e1679931106586.jpg"
              alt=""
            />
            <div class="gradient-film"><span>Trọn bộ 30 tập</span></div>
          </a>
          <a class="play" href="">
            <i class="fa-solid fa-play"></i>
          </a>
          <a class="save" href="">
            <i class="fa-solid fa-heart"></i>
          </a>
          <a href=""> SKY FALL</a>
        </div>
        <div class="phim-group-item">
          <a href="">
            <span class="top1">Top1</span>
            <img
              src="../../static/images/harper-bazaar-phim-ma-kinh-di-thai-lan-5-e1679931106586.jpg"
              alt=""
            />
            <div class="gradient-film"><span>Trọn bộ 30 tập</span></div>
          </a>
          <a class="play" href="">
            <i class="fa-solid fa-play"></i>
          </a>
          <a class="save" href="">
            <i class="fa-solid fa-heart"></i>
          </a>
          <a href=""> SKY FALL</a>
        </div>
        <div class="phim-group-item">
          <a href="">
            <span class="top1">Top1</span>
            <img
              src="../../static/images/harper-bazaar-phim-ma-kinh-di-thai-lan-5-e1679931106586.jpg"
              alt=""
            />
            <div class="gradient-film"><span>Trọn bộ 30 tập</span></div>
          </a>
          <a class="play" href="">
            <i class="fa-solid fa-play"></i>
          </a>
          <a class="save" href="">
            <i class="fa-solid fa-heart"></i>
          </a>
          <a href=""> SKY FALL</a>
        </div>
        <div class="phim-group-item">
          <a href="">
            <span class="top1">Top1</span>
            <img
              src="../../static/images/harper-bazaar-phim-ma-kinh-di-thai-lan-5-e1679931106586.jpg"
              alt=""
            />
            <div class="gradient-film"><span>Trọn bộ 30 tập</span></div>
          </a>
          <a class="play" href="">
            <i class="fa-solid fa-play"></i>
          </a>
          <a class="save" href="">
            <i class="fa-solid fa-heart"></i>
          </a>
          <a href=""> SKY FALL</a>
        </div>
      </section>
      <ul>
        <li><a href="">First</a></li>
        <li><a href="">1</a></li>
        <li><a href="">2</a></li>
        <li><a href="">3</a></li>
        <li>
          <a href="">...</a>
        </li>
        <li><a href="">Last</a></li>
      </ul>
    </main>
    <footer class="footer">
      <h2>Trải nghiệm trên các thiết bị của T-Movies</h2>
      <div>
        <button>Trang web</button>
        <button>Thiết bị di động</button>
        <button>TV</button>
      </div>
      <hr />
      <div class="footer-content">
        <div>
          <h3>Giới thiệu về chúng tôi</h3>
          <ul>
            <li><a href="">Thông tin công ty</a></li>
            <li><a href="">Dịch vụ</a></li>
            <li><a href="">Cách xem</a></li>
            <li><a href="">Nhà đầu tư</a></li>
          </ul>
        </div>
        <div>
          <h3>Hợp tác</h3>
          <ul>
            <li><a href="">Thông tin công ty</a></li>
            <li><a href="">Dịch vụ</a></li>
            <li><a href="">Cách xem</a></li>
            <li><a href="">Nhà đầu tư</a></li>
          </ul>
        </div>
        <div>
          <h3>Hỗ trợ & giúp đỡ</h3>
          <ul>
            <li><a href="">Thông tin công ty</a></li>
            <li><a href="">Dịch vụ</a></li>
            <li><a href="">Cách xem</a></li>
            <li><a href="">Nhà đầu tư</a></li>
          </ul>
        </div>
        <div>
          <h3>Điều khoản & Chính sách</h3>
          <ul>
            <li><a href="">Thông tin công ty</a></li>
            <li><a href="">Dịch vụ</a></li>
            <li><a href="">Cách xem</a></li>
            <li><a href="">Nhà đầu tư</a></li>
          </ul>
        </div>
      </div>
      <cite>&copy; Copyright 2025 T-Movies All Rights Reserved</cite>
      <div>
        <a href=""> <i class="fa-brands fa-facebook"></i></a>
        <a href=""><i class="fa-brands fa-google"></i></a>
        <a href=""> <i class="fa-brands fa-telegram"></i></a>
      </div>
    </footer>
  </body>
</html>
