<main class="ordered" th:fragment="content">
  <div th:replace="layouts/slide-bar::slide-bar"></div>
  <div class="ordered-container">
    <h2>Phim đặt trước</h2>
    <div>
      <div class="ordered-item">
        <a href="">Tất cả</a> <a href="">Đã lên sóng</a>
        <a href=""> Sắp lên sóng</a>
      </div>
      <div><a href="" class="cancel">Hủy bỏ</a><a href="">Chỉnh sửa</a></div>
    </div>
    <hr />
    <section class="content">
      <div class="content-item">
        <a href="">
          <img th:src="@{/images/R.jpg}" alt="" />
          <div class="bg-xemtiep">
            <span>Tập 11</span>
            <a href="">
              <i class="fa-solid fa-play"></i>
            </a>
          </div>
          <a href=""><div class="history-bar"></div></a>
        </a>
        <a href=""> SKY FALL</a>
      </div>
      <div class="content-item">
        <a href="">
          <img th:src="@{/images/R.jpg}" alt="" />
          <div class="bg-xemtiep">
            <span>Tập 11</span>
            <a href="">
              <i class="fa-solid fa-play"></i>
            </a>
          </div>
          <a href=""><div class="history-bar"></div></a>
        </a>
        <a href=""> SKY FALL</a>
      </div>
      <div class="content-item">
        <a href="">
          <img th:src="@{/images/R.jpg}" alt="" />
          <div class="bg-xemtiep">
            <span>Tập 11</span>
            <a href="">
              <i class="fa-solid fa-play"></i>
            </a>
          </div>
          <a href=""><div class="history-bar"></div></a>
        </a>
        <a href=""> SKY FALL</a>
      </div>
      <div class="content-item">
        <a href="">
          <img th:src="@{/images/R.jpg}" alt="" />
          <div class="bg-xemtiep">
            <span>Tập 11</span>
            <a href="">
              <i class="fa-solid fa-play"></i>
            </a>
          </div>
          <a href=""><div class="history-bar"></div></a>
        </a>
        <a href=""> SKY FALL</a>
      </div>
      <div class="content-item">
        <a href="">
          <img th:src="@{/images/R.jpg}" alt="" />
          <div class="bg-xemtiep">
            <span>Tập 11</span>
            <a href="">
              <i class="fa-solid fa-play"></i>
            </a>
          </div>
          <a href=""><div class="history-bar"></div></a>
        </a>
        <a href=""> SKY FALL</a>
      </div>
      <div class="content-item">
        <a href="">
          <img th:src="@{/images/R.jpg}" alt="" />
          <div class="bg-xemtiep">
            <span>Tập 11</span>
            <a href="">
              <i class="fa-solid fa-play"></i>
            </a>
          </div>
          <a href=""><div class="history-bar"></div></a>
        </a>
        <a href=""> SKY FALL</a>
      </div>
      <div class="content-item">
        <a href="">
          <img th:src="@{/images/R.jpg}" alt="" />
          <div class="bg-xemtiep">
            <span>Tập 11</span>
            <a href="">
              <i class="fa-solid fa-play"></i>
            </a>
          </div>
          <a href=""><div class="history-bar"></div></a>
        </a>
        <a href=""> SKY FALL</a>
      </div>
      <div class="content-item">
        <a href="">
          <img th:src="@{/images/R.jpg}" alt="" />
          <div class="bg-xemtiep">
            <span>Tập 11</span>
            <a href="">
              <i class="fa-solid fa-play"></i>
            </a>
          </div>
          <a href=""><div class="history-bar"></div></a>
        </a>
        <a href=""> SKY FALL</a>
      </div>
      <div class="content-item">
        <a href="">
          <img th:src="@{/images/R.jpg}" alt="" />
          <div class="bg-xemtiep">
            <span>Tập 11</span>
            <a href="">
              <i class="fa-solid fa-play"></i>
            </a>
          </div>
          <a href=""><div class="history-bar"></div></a>
        </a>
        <a href=""> SKY FALL</a>
      </div>
      <div class="content-item">
        <a href="">
          <img th:src="@{/images/R.jpg}" alt="" />
          <div class="bg-xemtiep">
            <span>Tập 11</span>
            <a href="">
              <i class="fa-solid fa-play"></i>
            </a>
          </div>
          <a href=""><div class="history-bar"></div></a>
        </a>
        <a href=""> SKY FALL</a>
      </div>
      <div class="content-item">
        <a href="">
          <img th:src="@{/images/R.jpg}" alt="" />
          <div class="bg-xemtiep">
            <span>Tập 11</span>
            <a href="">
              <i class="fa-solid fa-play"></i>
            </a>
          </div>
          <a href=""><div class="history-bar"></div></a>
        </a>
        <a href=""> SKY FALL</a>
      </div>
      <div class="content-item">
        <a href="">
          <img th:src="@{/images/R.jpg}" alt="" />
          <div class="bg-xemtiep">
            <span>Tập 11</span>
            <a href="">
              <i class="fa-solid fa-play"></i>
            </a>
          </div>
          <a href=""><div class="history-bar"></div></a>
        </a>
        <a href=""> SKY FALL</a>
      </div>
    </section>
    <ul>
      <li><a href="">First</a></li>
      <li><a href="">1</a></li>
      <li><a href="">2</a></li>
      <li><a href="">3</a></li>
      <li>
        <a href="">...</a>
      </li>
      <li><a href="">Last</a></li>
    </ul>
  </div>
</main>
