/* BANNER */
.banner-detail {
  width: 100%;
  height: 500px;
  background: url("../images/phim-co-trang-phu-dao-hoang-hau-scaled.jpg")
    center/cover no-repeat;
  position: relative;
  color: #fff;
  margin-bottom: 150px;
}
.banner-detail .bg-content + div {
  position: absolute;
  top: 25%;
  left: 5%;
  width: 35%;
  height: 50%;
  z-index: 1;
}
.banner-detail .bg-content {
  position: absolute;
  background: linear-gradient(to left, #00000000, #111319, #111319);
  top: 0;
  /* left: 5%; */
  width: 50%;
  height: 100%;
}
.banner-detail h1 {
  font-size: 3rem;
  font-weight: bold;
}
.banner-detail h1 + div {
  margin-top: 10px;
  font-size: 1rem;
}
.banner-detail h1 + div span {
  background-color: #fdca31;
  padding: 3px 10px;
  border-radius: 5px;
  font-weight: bold;
}
.banner-detail h1 + div + div {
  margin-top: 20px;
  width: 40%;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}
.banner-detail h1 + div + div + p {
  margin-top: 15px;
  font-size: 1rem;
}
.banner-detail .option {
  width: 100%;
  margin-top: 20px;
  display: flex;
  gap: 10px;
}
.banner-detail .option a {
  width: 25%;
  height: 40px;
  background-color: #fdca31;
  color: #000;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner-detail .option a i {
  font-size: 1.2rem;
  padding: 5px;
}
.banner-detail .option a:hover {
  background-color: #fab033;
}
.banner-detail .gradient-bg {
  position: absolute;
  top: 450px;
  width: 100%;
  height: 200px;
  background: linear-gradient(to bottom, #00000000, #111319, #111319);
  z-index: 1;
}
